/* base classes */
.container{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.container-inner{
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clear{
    clear: both;
}
/* base classes end  */
/* header styles  */
.navbar {
    margin-right: 730px;
    margin-top: 48px;
    margin-bottom: 49px;
    
}
.nav-li{
    margin-left: 30px;
}
.nav-a{
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: initial;
}

/* header styles end  */
/* banner section  */
.bg-banner{
    background-image: url("../img/Fashion88.png");
    height: 382px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.text-li{
    position: absolute;
    top: 105px;
    left: 647px;
    color: #fff;
    font-family: 'Roboto';
    font-size: 22px;
}
.text-li-01{
    position: absolute;
    top: 132px;
    left: 700px;
    font-family: 'Roboto';
    font-size: 48px;
    color: #fff;
}
/* banner section end  */
/* title  section  */
.title-section {
    padding-top: 84px;
    padding-bottom: 84px;
    
}
.title-h1{
    font-family: 'Roboto';
    font-size: 22px;
    color: #FF7A00;
    font-weight: bold;
    text-transform: capitalize;
    padding-left: 30px;
}
/* title section end  */
/* post section  */
.left-box{
    width: 635px;

}
.title-h4{
    width: 563px;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: bold;
    color: #181C28;
}
.text-p{
    font-family: 'Roboto';
    font-size: 16px;
    color: #7B7B7B;
    margin-top: 22px;
    padding-right: 20px;
    margin-bottom: 13px;
}
.read{
    font-family: 'Roboto';
    font-size: 14px;
    font-style: italic;
    color: #FF7A00;
    font-weight: bold;
}
.read::after{
    content: "";
    width: 47px;
    height: 4px;
    margin-left: 18px;
    background-color: #FF7A00;
    display: inline-block;
}
/* post section end  */